beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==2.0.9
html5lib==1.1
idna==3.7
mf2py==1.1.2
requests
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.19
webencodings==0.5.1
indieweb_utils==0.9.1
pyjwt==2.4.0
